html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body{
    background-image: url(assets/images/bodybg.jpg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}

header{
    background-color: #FFF9E6;
    
}

header nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    
}

nav button{
    width: 120px;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    
}


div#content{
    border-radius: 20px;
    background-color: #FFF9E6;
    padding: 40px;
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}